
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

$redhatdisplay: "Red Hat Display", sans-serif;




//Colors

//Primary

$primarycolor-Paleblue: hsl(225, 100%, 94%);
$primarycolor-Brightblue: hsl(245, 75%, 52%);

//Neutral

$neutralcolor-Verypaleblue: hsl(225, 100%, 98%);
$neutralcolor-Desaturatedblue: hsl(224, 23%, 55%);
$neutralcolor-Darkblue: hsl(223, 47%, 23%);