.btn {
    font-family: $montserrat;
    font-size: 0.9rem;
    font-weight: 600;
    text-decoration: none;
    color: $neutralcolor-White;
    border: 0;
    padding: .75em 1.5em;
    cursor: pointer;
    transition: all 0.2 ease-in-out;
    background-color: $primarycolor-Dark-cyan;
    display: inline-flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
}


button:hover,
button:focus {
   background-color: $primarycolor-superdark-cyan;
}

