
* {
    margin: unset;
    padding: unset;
    box-sizing: border-box;
}

img {
    min-width: 100%;
}

body {
    font-family: $fraunces;
    background-color: $primarycolor-Cream;
    //text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

    p {
        font-family: $montserrat;
        font-size: 14px;
        line-height: 1.6rem;
        color: $neutralcolor-Darkgrayish-blue;
        
    }
}



.product {
    background-color:$neutralcolor-White;
    min-height: 100vh;
    margin: 20px;
    padding-bottom: 20px;
    border-radius: 20px;
    box-shadow: 2px 2px 2px hsl(228, 45%, 44%, 0.15);
}

.img-container {
    
}





// @media (min-width: 768px){

//     main {
//         display: flex;
//         justify-content: center;
//         align-items: center;
//     } 

//     .container{
//         width: 50%;
//     }
    
//     .bg-img {
//         background: url('/images/pattern-background-desktop.svg') no-repeat center/cover;
//         height: 50vh; //so it takes half of the screen//
//     }
// }