/*Initail style*/
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@import './variables';



/*-----Fonts-----*/
@font-face {
    font-family: montserrat;
    font-style: medium;
    font-weight: 500;
    font-display: swap;
    src: url(../fonts/Montserrat-Medium.ttf) format("ttf");
}

@font-face {
    font-family: montserrat;
    font-style: bold;
    font-weight: 700;
    font-display: swap;
    src: url(../fonts/Montserrat-Bold.ttf) format("ttf");
}

@font-face {
    font-family: fraunces;
    font-style: bold;
    font-weight: 700;
    font-display: swap;
    src: url(../fonts/Fraunces_72pt_Soft-Bold.ttf) format("ttf");
}


/*----BASE STYLES----*/
* {
    margin: unset;
}

body {
    background-color: $color-cream;
    font-size: 15px;
}

h1 {
    
    font-family: fraunces, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: $color-darkcyan;
}


p {
    font-family: Montserrat, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}