/* ============================================= */
/*              Utilities Imports                */
/* ============================================= */
/* ============================================= */
/*              Color variables                  */
/* ============================================= */
/* ============================================= */
/*                  Spacing                      */
/* ============================================= */
/* ============================================= */
/*             Typography                        */
/* ============================================= */
@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
/* ============================================= */
/*             Base Styles                       */
/* ============================================= */
* {
  box-sizing: border-box;
  margin: unset;
  padding: unset;
}

body {
  background-color: hsl(30, 38%, 92%);
  font-family: "Fraunces", serif;
  font-size: 15px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  border-radius: 10px;
  display: flex;
  max-width: 666px;
  background-color: hsl(0, 0%, 100%);
  margin: 0 1rem;
}

.img-container {
  width: 50%;
}
.img-container img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px 0 0 10px;
}

.description-container {
  width: 50%;
  padding: 2rem;
}
.description-container .name {
  color: hsl(212, 21%, 14%);
  margin-bottom: 1.75rem;
}
.description-container .description, .description-container .montserrat {
  font-family: "Montserrat", sans-serif;
  color: hsl(228, 12%, 48%);
  line-height: 22px;
  margin-bottom: 1.75rem;
}
.description-container .montserrat {
  letter-spacing: 3px;
}
.description-container .btn {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: hsl(158, 36%, 37%);
  color: hsl(0, 0%, 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-family: "Montserrat", sans-serif;
  padding: 1rem 2rem;
  border-radius: 10px;
  cursor: pointer;
}
.description-container .btn:hover {
  background-color: hsl(212, 21%, 14%);
}

.price-container {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-bottom: 1.75rem;
}
.price-container .sale-price {
  color: hsl(158, 36%, 37%);
}
.price-container .original-price {
  color: hsl(228, 12%, 48%);
  font-family: "Montserrat", sans-serif;
  text-decoration: line-through;
}

@media only screen and (max-width: 550px) {
  .card {
    margin-top: 1rem;
    margin-bottom: 1rem;
    flex-direction: column;
  }
  .img-container {
    width: 100%;
    height: 40%;
  }
  .img-container img {
    content: url("../images/image-product-mobile.jpg");
    border-radius: 10px 10px 0 0;
  }
  .description-container {
    width: 100%;
  }
  .description-container .name {
    padding-right: 0;
  }
}/*# sourceMappingURL=styles.css.map */